<!-- App Loader -->
<app-loader></app-loader>

<!-- Menu -->
<mat-toolbar class="menu-overlay header">
  <span>Herolo Library</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<!-- Menu Options -->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="editDialog(null)">
    <mat-icon>note_add</mat-icon>
    <span>New Book</span>
  </button>
</mat-menu>

<!-- Cotent -->
<div class="site-content">

  <!-- Books List -->
  <mat-list>
    <mat-list-item *ngFor="let book of booksForCurrentPage">
      <app-book-card (edit)="editDialog(book)" (delete)="deleteSnackbar(book)" [book]="book"></app-book-card>
    </mat-list-item>
  </mat-list>

</div>

<!-- Footer -->
<mat-toolbar class="menu-overlay footer">
  <span class="love">
    Made with
    <i class="icon ion-heart"></i> by Daniel Netzer
  </span>
  <span class="spacer">
    <!-- Pagination -->
    <mat-paginator class="pagination" [length]="allBooks.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPaginationChanged($event)">
    </mat-paginator>
  </span>
  <span class="social">
    <a href="https://github.com/DanielNetzer" target="_blank">
      <i class="icon ion-social-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/daniel-netzer-2079b6108/" target="_blank">
      <i class="icon ion-social-linkedin"></i>
    </a>
  </span>
</mat-toolbar>
